.detail-error {
    background: #151b25;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thankyou-container {
    background: white;
    width: 50%;
    height: 100%;
    padding: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 6px;
}
.thankyou-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mark {
    width: 200px;
    background-color: white !important;
    margin: 1rem auto;
}


@media (max-width: 1000px) {
    .thankyou-container {
        width: 85%;
    }
}

@media (max-width: 540px) {
    .thankyou-container {
        width: 85%;
    }
}

@media (min-width: 521px) and (max-width: 770px) {
    .thankyou-container {
        width: 80%;
    }
}