/*.fileUploader {*/
/*    border-radius: 2px !important;*/
/*    width: 90%;*/
/*    margin: auto;*/
/*}*/
/*.fileUploader:hover {*/
/*    border: 1px solid var(--hover-border-color) !important;*/
/*}*/
.fileContainer{
    box-shadow: none;
    padding: 0;
    margin: 0;
}
.fileContainer .uploadPictureContainer, .fileContainer .uploadPictureContainer img  {
    max-width: 300px;
    /*max-height: 94px;*/
}
.settings-box {
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 2px;
    border-radius: 4px;
    width: 98%;
    margin: 1%;
    color: rgb(46, 57, 79);
}
.settings-inner-border {
    background: rgb(248, 248, 248);
    border: 1px solid rgb(229, 229, 229);
    box-sizing: border-box;
    border-radius: 4px 4px 0px 0px;
    padding: 1%;
    display: flex;
    color: rgb(46, 57, 79);
    font-size: 15px;
    font-weight: 600;
    font-family: "Titillium Web", sans-serif;
}
.settings-content {
    padding: 3% 1% 5%;
}
.sms-ntf-txt{
    opacity: 0.5;
    padding-left: 12px;
}
.sms-toggle {
    margin-top: 10px;
}