.sign-dd-container {
    background: white;
    box-shadow: 0px 0px 4px 2px grey;
    width: 450px;
    border-radius: 5px;
    margin: 1rem auto;
    padding: 2rem 2rem;
}
.sign-dd-container p {
    font-size: 14px;
}
.sign-logo-container {
    text-align: center;
    margin: 10px;
}
.sign-logo {
    width: 76%;
}
.email-input {
    width: 98%;
}
.dd-link {
    color: #337ab7;
}
.dd-link:hover {
    text-decoration: underline;
}
.dd-btn {
    width: 98%;
}
.dd-btn-block {
    margin-top: 10px;
    margin-bottom: 10px;
}