.withdraw-btn-section {
    margin-top: 1rem;
}
.withdraw-heading {
    margin-bottom: 2rem;
}
.success_msg_blk {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
