table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.qrButton{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.qrImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-ok{
    width: 210px !important;
}

.qrcode-heading {
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}
.zero-padding-left {
    padding-left: 0 !important;
}
.zero-padding-right {
    padding-right: 0 !important;
}
.qrcode-innerbox {
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 1385px) {
    .phone-field {
        width: calc(27vw + 150px);
        margin-left: auto;
        margin-right: auto;
    }
}
.img-loader-div {
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy-btn {
    display: flex;
    position: absolute;
    right: -19px;
    top: 0;
    cursor: pointer;
}
.cp-btn {
    font-size: 20px;
    color: grey;
}
.cp-btn:hover {
    color: var(--main-bg-color);
}
tr:hover {background-color:#f5f5f5;}
