.transaction {
    margin: 1rem 2rem;
}

.heading {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.status-toggle {
    margin-right: auto;
    padding-left: 20px;
}
.modal-container {
    padding: 2rem 3rem 1rem;
    min-width: 350px;
    min-height: 480px;
}
.modal-container-with-draw {
    padding: 2rem 3rem 1rem;
    min-width: 500px;
    text-align: center;
}
.btn-refund {
    padding: 10px 15px;
    background: var(--main-bg-color);
    color: var(--btn-txt-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    width: 90%;
}
.btn-refund[disabled] {
    background: #cccccc;
}
.loading {
    text-align: center;
    border-bottom: none;
}
.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn-ok, .btn-cancel {
    margin: 10px;
    padding: 10px 15px;
    border-radius: 0;
    cursor: pointer;
    font-size: 15px;
    width: 200px;
    border-radius: 3px;
}
.btn-ok {
    background: var(--main-bg-color);
    color: var(--btn-txt-color);
}
.btn-cancel {
    background: white;
    color: black;
}
.btn-ok[disabled] {
    background: #cccccc;
}
.refund-radio-label {
    margin: 0 10px;
}
.refund-radio-btn {
    margin-right: 7px;
}
.loader-footer {
    text-align: center;
}
.t-error {
    color: var(--text-error-color);
    background: white;
    padding: 10px;
    text-align: center;
}
.balance-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
.balance-label {
    margin-left: 1rem;
    margin-right: 1rem;
}
.balance {
    font-weight: bold;
    white-space: nowrap;
}
.balance-con {
    display: flex;
    justify-content: center;
    border: 1px solid var(--step-border-color);
    padding: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.balance-con:hover {
    border: 1px solid var(--main-bg-color);
}
.balance-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.with-draw {
    margin: auto 2rem;
}
.tabs-balance{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}
.with-draw-input {
    width: 95% !important;
}
.btn-withdraw-block {
    width: 10rem;
}
.tr-top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-container {
    display: flex;
    justify-content: flex-end;
}
.search-container > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
}
.load-more {
    margin: 20px auto;
}
@media (max-width: 540px) {
    .top-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .tabs-balance{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
}

@media (max-width: 768px) {
    .isHidden {
        display: none;
    }
    .tabs-balance{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    .tabs-balance div:nth-of-type(1) {
        order: 2;
    }

    .tabs-balance div:nth-of-type(2) {
        order: 1;
    }
    .balance-con {
        flex-direction: row-reverse;
    }
    .balance-label {
        margin-left: 0;
        margin-right: 5px;
    }
    .balance-sec {
        margin-right: 5px;
    }
    .btn-withdraw-block {
        width: 7rem;
    }
    .balance-block {
        text-align: right;
    }
    .tr-top-box {
        flex-direction: column;
    }
    .search-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .status-toggle {
        margin-left: auto;
        margin-right: 0;
    }
}


