.transaction {
    margin: 1rem 2rem;
}

.heading {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.modal-container {
    padding: 2rem 3rem 1rem;
    min-width: 400px;
}
.btn-refund {
    padding: 10px 15px;
    background: var(--main-bg-color);
    color: var(--btn-txt-color);
    border: 1px solid ghostwhite;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    width: 90%;
}
.btn-refund[disabled] {
    background: #cccccc;
}
.loading {
    text-align: center;
    border-bottom: none;
}
.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn-ok, .btn-cancel {
    margin: 10px;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    width: 200px;
}
.btn-ok {
    background: var(--main-bg-color);
    color: var(--btn-txt-color);
    border: 1px solid ghostwhite;
}
.btn-cancel {
    background: white;
    color: black;
    border: 1px solid black;
}
.btn-ok[disabled] {
    background: #cccccc;
}
.refund-radio-label {
    margin: 0 10px;
}
.refund-radio-btn {
    margin-right: 7px;
}
.loader-footer {
    text-align: center;
}
.t-error {
    color: red;
    text-align: center;
}
.balance-sec {
    margin: auto;
    text-align: center;
}
.balance {
    font-size: larger;
    font-weight: bold;
}
.balance-con {
    width: 80%;
    margin: auto;
    border: 1px solid var(--step-border-color);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
}
.balance-con:hover {
    border: 1px solid var(--main-bg-color);
}
