.list-banks-logo {
    height: 80px;
    width: 80px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 0.5rem;
}
.loader {
    position: absolute;
    width: 100vw;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    min-height: 100vh;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.bank-bg-color {
    background: white;
}
.bank-bg-color h3 {
    color: black;
}
.bank-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    height: 30rem;
    padding: 5px;
    overflow-y: scroll;

    /*background-image: linear-gradient(to bottom,*/
    /*rgba(255, 255, 255, 0),*/
    /*rgba(255, 255, 255, 0.9)*/
    /*100%);*/
}
.bank-list-container::after {
    content: "";
    flex: auto;
}
.detail-error {
    background: var(--main-theme-color);
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-error-block {
    background: white;
    width: 50%;
    height: 100%;
    padding: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 6px;
}
.mr-1 {
    margin: 1rem auto;
}
.mr-2 {
    margin: 10px auto;
}
.mark {
    width: 108px;
}
/*!* Hide scrollbar for Chrome, Safari and Opera *!*/
/*.bank-list-container::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

/* Hide scrollbar for IE, Edge and Firefox */
.bank-list-container {
    /*-ms-overflow-style: none;  !* IE and Edge *!*/
    /*scrollbar-width: none;  !* Firefox *!*/
    scrollbar-width: thin;
    scrollbar-color: grey white;
}

 /*width*/
.bank-list-container::-webkit-scrollbar {
    width: 8px;
}

 /*Track */
.bank-list-container::-webkit-scrollbar-track {
    /*background: #f1f1f1;*/
}

/* Handle */
.bank-list-container::-webkit-scrollbar-thumb {
    background: #151B25;
    border-radius: 20px;
}

/* Handle on hover */
.bank-list-container::-webkit-scrollbar-thumb:hover {
    background: #151B25;
}
.list-banks {
    box-sizing: border-box;
    width: 29.33%;
    text-align: center;
    box-shadow: 1px 1px 6px 0 #888888;
    margin: 10px 2px;
    border-radius: 5px;
    background: white;
}
.list-banks:hover {
    box-sizing: border-box;
    border: 1px solid;
}
.list-banks > p {
    font-size: 12px;
    text-align: center;
    margin-bottom: -14px;
}

.error-block {
    padding: 5px;
    margin: 0 5px 10px;
    border: 1px solid var(--text-error-color);
}
@media (max-width: 540px) {
    .list-banks {
        width: 29.33%;
    }
    .list-banks > p {
        font-size: 10px;
    }
    .list-banks-logo {
        height: 50px;
        width: 80px;
    }
    .detail-error-block {
        width: 100%;
    }
}
@media (min-width: 521px) and (max-width: 770px) {
    .list-banks {
        width: 29% !important;
        text-align: center;
        margin-top: 1rem;
    }
    .detail-error-block {
        width: 95%;
    }
}
.outer-container {
    background-image: url('img/bank-bg-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.inner-container {
    background: #ffffff59;
    width: 758px;
    margin: 0 auto;
    border-radius: 5px;
}
.inner-container-grid {
    display: grid;
    grid-template-columns: 45% 55%;
}
.left-section {
    background: #f7f8fabd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.left-content {
    padding: 1rem 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.rule-conduct {
    margin-top: auto;
}
.rule-conduct > p {
    font-size: 10px;
    padding: 10px 3px;
}
.right-content {
    padding: 1rem 1rem;
}
.bank-heading {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: white;
    padding: 9px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
}
.bank-screen-logo {
    width: 80%;
}
.bank-screen-logo-container {
    margin: 3rem auto;
    text-align: center;
    padding: 1rem;
}
.payment-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: white;
    padding: 15px 10px;
    border-radius: 4px;
}
.payment-label {
    font-size: 14px;
    color: #33333373;
}
.mobile-heading {
    display: none;
}

.no-bank {
    margin: 10px;
    text-align: center;
}

.tip-detail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: white;
    margin-top: 1rem;
    padding: 15px 10px;
    border-radius: 4px;
}
.tip-box {
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.flow-steps {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.flow-steps > div {
    display: flex;
    align-items: baseline;
    background: white;
    padding: 10px 10px;
    margin: 5px 0;
    border-radius: 4px;
}
.step-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
@media (min-width: 768px) {
    .outer-container {
        /*background-color: var(--main-theme-color);*/
        width: 100%;
        min-height: 100vh;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
}
@media (max-width: 768px) {
    .flow-steps {
        margin: 3rem 0;
    }
}
@media (max-width: 540px) {
    .bank-list-container {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6) 100%);
    }
    .right-content {
        /*background-image: url('img/bank-bg.jpg');*/
        /*background-repeat: no-repeat;*/
        /*background-position: center center;*/
        /*background-attachment: fixed;*/
        /*background-size: cover;*/
    }
    .info-icon {
        display: block;
        font-size: 40px;
    }
}

@media (max-width: 1000px) {
    .detail-error-block {
        width: 90%;
    }
}

/*Mobile css */
@media (min-width:540px) and (max-width: 768px) {
    .outer-container {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .inner-container {
        background: white;
        width: 75%;
        margin: 0 auto;
        border-radius: 10px;
    }
    .inner-container-grid {
        display: grid;
        grid-template-columns: 100%;
    }
    .left-section {
        background: #F7F8FA;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .list-banks-logo {
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 540px) {
    .outer-container {
        background-image: url('img/bank-bg-mobile.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        padding-top: 0;
        padding-bottom: 0;
    }
    .inner-container {
        background: #ffffff00;
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
    }
    .inner-container-grid {
        display: grid;
        grid-template-columns: 100%;
    }
    .left-section {
        background: #f7f8fabd;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .left-content {
        padding: 1rem 10px 1rem 10px;
    }
    .mobile-heading {
        display: block;
        padding-bottom: 1.5rem;
    }
    .bank-heading {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .bank-screen-logo-container {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .mobile-only {
        display: inline-block;
        background: rgba(255, 255, 255, 0.6);
        padding: 15px 9px;
    }
    .desktop-only {
        display: none;
    }
}
@media (min-width: 540px) {
    .mobile-only {
        display: none;
    }
}

@media (max-width: 280px) {
    .list-banks-logo {
        height: 55px;
        width: 60px;
    }
    .bank-heading {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 20px;
    }
}

