.header {
    padding: 11px 2% 11px 2%;
    background: white;
    border-bottom: 1px solid var(--step-border-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px #d3d3d385;
    margin-bottom: 1rem;
}
@media (max-width: 540px) {
    .header {
        justify-content: center;
    }
    .header h1 {
        text-align: center;
    }
    .app-title {
        width: 100%;
    }
}
.app-title{
    padding: 10px 25px;
}
.app-logo {
    width: 7rem;
}
.header h1 {
    color: var(--main-bg-color);
}
.logo img {
    width: 40px;
    height: auto;
}
.header .logout {
    margin-left: auto;
}
.logout_btn {
    border: none;
    font-size: 20px;
    background: transparent;
    padding: 2px 25px;
    text-transform: capitalize;;
    color: var(--main-theme-color);
    cursor: pointer;
    font-family: inherit;
}
.logout_btn:hover {
    background: transparent;
    font-family: inherit;
    /*box-shadow: 1px 1px 10px 1px lightgrey;*/
}
 a {
     color: var(--main-bg-color);
     text-decoration: none;
}
 .nav-link {
     font-size: 20px;
 }

 .user-info {
     color: var(--main-bg-color);
     display: inline-block;
     margin-right: 15px;
     margin-left: 5px;
 }
 .cta {
     padding-right: 25px;
     font-size: 20px;
 }
 @media (max-width: 760px) {
     .user-info {
         display: none;
     }
 }
@media (max-width: 540px) {
     .mobile-nav-link {
         padding-left: 25px;
     }
 }
