.account {
    width: calc(10vw + 200px);
    margin: 10px;
    padding: 5px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.label {
    margin-left: 10px;
}
.signup-link a {
    color: var(--btn-bg-color);
    text-decoration: underline;
}
