* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-bg-color: #5956E8;
    --secondary-bg-color: #151B25;
    --main-txt-color: white;
    --upload-bg-color: #f0f0f0;
    --btn-txt-color: white;

    --input-hover-color: #151B25;
    --input-border-color: lightgrey;

    --quote-head-color: #524e4e;
    --quote-head-txt-color: white;

    --link-txt-color: #151B25;

    --edit-txt-color: #524e4e8a;
    --edit-txt-hover-color: #151B25;

    --upload-animation-bg-color: grey;

    --step-border-color: #f0f0f0;
    --hover-border-color: #5956E8;
    --completed-border-color: #a6a9a8;

    --success-text-color: #42b042de;

    --text-error-color: red;
    --main-theme-color: #151B25;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill{
    background-color: white !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
html {
    height: 100%;
}

body {
    min-height: 100%;
    box-sizing: border-box;
    background: #ffffff;
}
h1, h2, h3, h4, h5, h6, p, div, span, input, strong {
    font-family: 'DM Sans', sans-serif;
}
#root {
    min-height: 100vh;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.theme-link {
    color: var(--main-theme-color);
}

@media (max-width: 768px) {
    h1 {
        font-size: 23px !important;
    }
    h2 {
        font-size: 21px !important;
    }
    h3 {
        font-size: 19px !important;
    }

}
