.quote-detail {
    background: white;
    width: 46.5vw;
    padding: 0 0 35px 0;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    transition-timing-function: ease-out;
}
.quote-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 46%;
}
.quote-table {
    margin: 10px 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.quote-row-total {
    justify-content: flex-end !important;
    margin-top: 2px !important;
    margin-bottom: 5px !important;
}
.quote-row-total > *:first-child {
    margin-right: 7px;
    color: #8080809e !important;
}
.input-div {
    border: 1px solid #8080809e;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    padding: 11px 13px;
    justify-content: space-between;
}
.input-div > *:nth-child(2) {
    color: #8080809e;
}

.quote-row-btn > .confirm-btn {
    background: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid ghostwhite;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 15px;
    width: 90%;
}
.quote-row-btn > button:disabled,
.quote-row-btn > button[disabled] {
    background: #cccccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid ghostwhite;
    border-radius: 6px;
    cursor: not-allowed;
    margin: 10px 0;
    color: #666666;
    padding: 10px 15px;
    width: 90%;
}
.quote-row-btn {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.status-model {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(27vw + 200px);
    margin: 0 auto 2rem auto;

}
.complete-tick {
    max-width: 9rem;
    margin: -1rem 0;
}
.is_text_center {
    text-align: center;
}
.pay-btn {
    background: var(--main-bg-color);
    color: var(--btn-txt-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid ghostwhite;
    border-radius: 0;
    cursor: pointer;
    margin: 35px 0 10px 0;
    padding: 10px 15px;
    width: calc(27vw + 150px);
    font-size: 20px;
}
.pay-btn:hover {
    background: var(--btn-bg-hover-color);
}
.content-text {
    margin-left: 14px;
    padding: 1rem 0;
}
.summary-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px 5px 10px 5px;
}
.summary-row > *:first-child {
    color: #787878;
}
.status-model > *:last-child {
    align-self: center;
}

.link_img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}
.bank-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.quote-head {
    background: var(--quote-head-color);
    border-radius: 5px;
    padding: 10px 10px;
}
.quote-head-content {
    margin: 10px 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.quote-head-content > * {
    color: var(--quote-head-txt-color);
}

/* payment module css*/
